h1,h2,h3,h4,span,p{
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
}
.top-container{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px 50px;
    position: relative;
    z-index: 100;
}
.premium-dropdown{
    position : relative;
    display : inline-block;
}
.dropbtn{
    border: none;
    background-color: #f5f5f500;
    font-weight: 400;
    color : white;
    text-align: center;
    cursor : pointer;
    font-size : 14px;
}
.dropbtn:hover{
    color: #1ed760;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1;
    font-weight: 400;
    background-color: #1d1d1d;
    min-width : 200px;
}
.dropdown-content a{
    display: flex;
    flex-direction: column;
    text-decoration : none;
    color : rgb(37, 37, 37);
    padding : 30px;
}
.menu-btn {
    text-decoration: none;
    font-size: 14px;
    color:white;
    padding: 0 10px;
}
.dropdown-content a{
    padding: 20px;
}
.drop-text1{
    color: white;
    font-size: 14px;
    height: 700;
}
.drop-text2{
    color: white;
    font-size: 10px;
    font-weight: 400;
}
.dropdown-content :hover{
    background-color: #000000;
}
.premium-dropdown:hover .dropdown-content {
    display: block;
}
.section-1{
    height: 525px;
    background-color: rgb(25, 230, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-1-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.computer-img-container{
    position: relative;
}
.border-icon{
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 38%;
}
.check-icon{
    position: absolute;
    top: 32px;
    left: 46%;
    z-index: 3;
}
.section-1-title p{
    font-size: 2.5rem;
    font-weight: 700;
    white-space: nowrap;
}
.section-1-text p{
    font-size: 14px;
    font-weight: 500;
    padding: 0 50px;
    white-space: nowrap;
}
.downloadButton{
    padding: 10px 30px;
    background-color: white;
    border: none;
    border-radius: 55px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}
.downloadButton a{
    text-decoration: none;
    color: black;
}
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 15px;
}
.section-2-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.section-2-title p{
    font-size: 27px;
    font-weight: 700;
    white-space: nowrap;
}
.section-2-text p{
    font-size: 14px;
    font-weight: 500;
    padding: 0 30px;
    white-space: nowrap;
}
.section-2-download{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.section-3{
    background-color: rgb(34, 35, 38);
    max-width: 100%;
}
.section-3-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 15px 50px 15px;
    gap: 20px;
}
.section-3-title p{
    font-size: 27px;
    font-weight: 700;
    color:white;
}
.section-3-list ul{
    display: flex;
    
}
.section-3-list li{
    white-space: nowrap;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    list-style: none;
    color: rgb(29, 185, 84);
}
.section-3-list a{
    text-decoration: none;
}
.footer-container{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 80px 20px 50px 20px;
    justify-items: center;
    align-items: center;
}
.footer-nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.footer-nav-title{
    color: #919496;
    font-size: 12px;
}
.footer-nav-item p{
    color: white;
    font-size: 14px;
    padding-bottom: 20px;
}
.footer-grid-box{
    display: grid;
    grid-gap: 10px;
}
@media (max-width:995px){
    .footer-container{
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
    .nav-container{
        display: none;
    }
}
@media (min-width:995px){
    .mobile-menu{
        display: none;
    }
}